<form (submit)="onSignup(signupForm)" #signupForm="ngForm" >
  <h2 mat-dialog-title>Actualizar datos del Usuario</h2>
    <hr>
    <mat-dialog-content class="mat-typography">
  <div class="container">
    <mat-form-field>
      <input matInput name="name" [(ngModel)]="data.name"
      type="text" placeholder="Nombre" #nombreInput="ngModel" required >
      <mat-error *ngIf="nombreInput.invalid">Ingresar un nombre valido.</mat-error>
    </mat-form-field>
  <mat-form-field>
    <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
    <mat-error *ngIf="passwordInput.invalid">Ingresar contraseña valida.</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Nivel De Acceso</mat-label>
    <mat-select name="Access"
    matInput
    required
    type="text"
    [(ngModel)]="data.access"
    #access>
      <mat-option value="Admin">Administrador</mat-option>
      <mat-option value="Advanced">Nivel Avanzado</mat-option>
      <mat-option value="Basic">Nivel Basico</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions>


  <button mat-raised-button type="submit" mat-dialog-close>Registrar</button>
    </mat-dialog-actions>
</div>
</mat-dialog-content>

</form>
