<main>
  <img class="icon-big" src="assets/white.jpg" alt="icon-big">
  <h3>Ingresa:</h3>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <main>

    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Ingresar un E-mail valido.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Ingresar una contraseña valida.</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" >Iniciar Sesion</button>
  </main>

  </form>

</main>
