

.mat-list-item{
  max-width: max-content;
  margin-left: 100px;
  font-size: 1.8rem;
  color:white;
  font-family: 'inter';
  letter-spacing: 3px;
  height: 100px !important;
  margin-bottom: 16px;
  margin-right: 80px;
}


