<div class="container">
  <mat-tab-group animationDuration="0ms" #tabGroup [color]="'primary'">
    <mat-tab label="Animales">
      <ng-template matTabContent>
        <app-user-animales></app-user-animales>
      </ng-template>

    </mat-tab>
    <mat-tab label="Fichas Medicas">
      <ng-template matTabContent>
        <app-user-fichas></app-user-fichas>
      </ng-template>
    </mat-tab>
    <mat-tab label="Atencion Clinica">
      ATENCION CLINICA
    </mat-tab>
    <mat-tab label="Decesos">
      DECESOS
    </mat-tab>

  </mat-tab-group>

</div>

