<h1 mat-dialog-title>Generar reporte</h1>
<hr>
<div mat-dialog-content>

    <p>Seleccionar fuente</p>
    <mat-form-field class="inputField" appearance="outline">
        <mat-label>Fuente</mat-label>
        <mat-select>
            <mat-option value="option1">Animales</mat-option>
            <mat-option value="option2">Propietarios</mat-option>
            <mat-option value="option3">Carnets</mat-option>
            <mat-option value="option4">Fichas médicas</mat-option>
            <mat-option value="option5">Atenciones clínicas</mat-option>
            <mat-option value="option2">Decesos</mat-option>
        </mat-select>
    </mat-form-field>

    <p>Seleccionar criterio</p>
    <mat-form-field class="inputField" appearance="outline">
        <mat-label>Criterio</mat-label>
        <mat-select>
            <mat-option value="option1">Opcion 1</mat-option>
            <mat-option value="option2">Opcion 2</mat-option>
            <mat-option value="option3">Opcion 3</mat-option>
            <mat-option value="option4">Opcion 4</mat-option>
            <mat-option value="option5">Opcion 5</mat-option>
            <mat-option value="option2">Opcion 6</mat-option>
        </mat-select>
    </mat-form-field>

    <p>Fechas de búsqueda</p> 
    <mat-form-field class="inputField" appearance="outline">   
        <mat-date-range-input  [rangePicker]="picker3">
        <input matStartDate placeholder="Desde">
        <input matEndDate placeholder="Hasta (misma fecha para una sola)">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-date-range-picker #picker3></mat-date-range-picker>
    </mat-form-field>
            
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial>Crear reporte</button>
</div>
